body {
	text-align: center;
    font-family: 'Pontano Sans', Verdana, Helvetica, Arial;
	margin-left: auto;
	margin-right: auto;
	background-color: #D1E0FF;
	background-image: url("http://i.imgur.com/A2rqm.png");
}

svg {
	outline: black solid thin;
	margin-left: auto;
	margin-right: auto;
	background-color: pink;
}

/* Holds the plot and info */
div.pso_simulation {
	margin-left: auto;
	margin-right: auto;
	vertical-align: middle;
}

/* The D3 plot size is 500x500 */
div.pso_plot {
	width: 600px;
	height: 600px;
	background-color: transparent;
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
}

/* PSO setting panel */
div.plot_info {
	background-color: transparent;
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
	min-width: 600px;
}

/* The information text for each parameter. */
.parameterHelpText {
	font-style: italic;
	font-weight: lighter;
}


#outputPlotImageContour, #outputPlotImageThreeD {
	width: 90%;
}

p {
	text-transform: uppercase;
}

span {
	font-size: 1.5em;
}

img#outputPlotImage {
	width: 200px;
	height: 200px;
}



td {
	text-align: left;
	/*border-style:solid;
	border-color:#000;
	border-width:1px;*/
}

.subtitle {
	text-transform: uppercase;
}

#toggleSimulationButton.inactive {
	/* green */
	font-size: 0.8em;
	text-transform: uppercase;
	font-weight: bold;
	border-radius:20px;
	background-color: #b5eb9b;
	border-style:solid;
	border-color: #74d448;
	border-width: thick;
	margin:1em;
	padding:1em;
	width:450px;
}

#toggleSimulationButton.inactive:hover {
	background-color: #FFD633;
}


#toggleSimulationButton.active {
	font-size: 0.8em;
	text-transform: uppercase;
	font-weight: bold;
	border-radius:20px;
	background-color: #FF1919;
	border-style:solid;
	border-color: #CC0000;
	border-width: thick;
	margin:1em;
	padding:1em;
	width:450px;
}

#toggleSimulationButton.active:hover {
	background-color: #FFD633;
}



input {
	border-radius:5px;
	border-style:inset;
	border-color:#aaa;
	margin:1em;
	padding:0.5em;
	text-align:right;
	width:5em;
	background-color:#eee;
}

select {
	/*padding:2em;*/
	margin:1em;
	width:10em;		
}

table {
	font-size:1em;
	background-color:#ddd;
	border-radius:5px;
	border-style:solid;
	border-color:#000;
	border-collapse: separate;
	border-spacing: 0 0;
	/*margin:0 0 10em 0;*/
	padding:0.5em;
	/*width:600px;
	height:400px;*/
}

div.header {
	background-color:#222;
	color:#fff;
	/*margin:0em;*/
	/*padding:0em;*/	
	padding: 20px 2px;
	margin: 0 auto;
	text-align:left;
	border-bottom: 5px solid #00A0EB;
}

div.footer {
	/*margin:20px auto 0;*/
	margin:0;
	padding:20px;
	background: #222;
	border-top: 10px solid #00A0EB;
	text-align:center;	
}

div.footer h4 {
	color:#fff;
}

a {
	color: red;
}

/* A lbest position. */
.lbest {
	fill: purple;
	border-color: purple;
	border-style: solid;
	background-color: purple;
	opacity: 0.8;
}

/* A regular PSO particle. */
.normalParticle {
	fill: #E60000;
	border-color: #E60000;
	border-style: solid;
	background-color: #E60000;
	opacity: 0.8;
}

/* The particle that found the best location.
    (not necessarily still at the best location). */
.bestParticle {
	fill: #33CC33;
	opacity: 0.8;
}

/* The best minimum location found. */
.bestMinimum {
	fill: #CCCC00;
	opacity: 0.8;
}


		.tab-panels {
			text-align: center;
		}

		.tab-panels ul {
			margin: 0;
			padding: 0;
		}
		
		.tab-panels ul li {
			list-style-type: none;
			cursor: pointer;
			margin: 0;
			padding: 3px 10px;
			display: inline-block;
			background: #222;
			font-weight: normal;
			color: gray;
			border-color: block;
			border-style: solid;
			border-width: thin;
			border-radius: 10px 10px 0 0;
			text-transform: uppercase;
			font-family: "Arial", sans-serif;
		}

		.tab-panels ul li:hover {
			color: gray;
			background: yellow;
		}
		
		.tab-panels ul li.active {
			background: red;
			font-weight: bold;
			color: white;
		}

		.tab-panels .panel {
			position: absolute;
			padding: 30px;
			background-color: #ddd;
			border-collapse: separate;
			border-spacing: 0 0;
			padding: 0.5em;
			border-color: black;
			border-style: solid;
			border-width: thick;
			border-radius: 0px 0px 10px 10px;
			font-family: "Arial", sans-serif;
			font-size: 1em;
			display: none;
		}

		.tab-panels .panel.active {
			display: block;
		}
		