
svg {
	outline: black solid thick;
	margin-left: auto;
	margin-right: auto;
	float: right;
}

/* Holds the plot and info */
div.pso_simulation {
	/*margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;*/
	text-align: center;
	vertical-align: middle;
}

/* The D3 plot size is 500x500 */
div.pso_plot {
	width: 525px;
	height: 575px;
	background-color: transparent;
	display: inline-block;
	float: left;
	margin-left: auto;
	margin-right: auto;
	vertical-align: middle;
	text-align: middle;
}

/* PSO setting panel */
div.plot_info {
	background-color: transparent;
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
	text-align: justify;
	vertical-align: middle;
	width: 525px;
}

/* The information text for each parameter. */
.parameterHelpText {
	font-style: italic;
	font-weight: lighter;
}


#outputPlotImageContour, #outputPlotImageThreeD {
	width: 90%;
}

p {
	text-transform: uppercase;
}

span {
	font-size: 1.5em;
}

img#outputPlotImage {
	width: 200px;
	height: 200px;
}



td {
	text-align: left;
	/*border-style:solid;
	border-color:#000;
	border-width:1px;*/
}

.subtitle {
	text-transform: uppercase;
}

/*button {
	width: 400px;
	height: 50px;
	text-transform: uppercase;
	font-weight: bold;
}*/

button.animate:hover {
	background-color: orange;
}

button.animate {
	text-transform: uppercase;
	font-weight: bold;
	border-radius:20px;
	background-color:#b5eb9b;
	border-style:solid;
	border-color:#74d448;
	margin:1em;
	padding:2em;
	width:450px;
}

body {
    font-family: Verdana, Helvetica, Arial;
}

input {
	border-radius:5px;
	border-style:inset;
	border-color:#aaa;
	margin:1em;
	padding:0.5em;
	text-align:right;
	width:5em;
	background-color:#eee;
}

select {
	/*padding:2em;*/
	margin:1em;
	width:10em;		
}

table {
	font-size:1em;
	background-color:#ddd;
	border-radius:5px;
	border-style:solid;
	border-color:#000;
	border-collapse: separate;
	border-spacing: 0 0;
	/*margin:0 0 10em 0;*/
	padding:0.5em;
	/*width:600px;
	height:400px;*/
}

div.header {
	background-color:#000;
	color:#fff;
	margin:0em;
	padding:0.2em;
}

a {
	color: red;
}
